@import "~bootstrap/scss/bootstrap.scss";


// - - - - - - - - -
//     Theme
// - - - - - - - - -
$primary: rgba(103, 181, 135, 1.0);
$white: #ffffff;
$dark: rgba(55, 64, 66, 1.0);
$max_width: 1100px;

@import "footer";

a:hover
{
  text-decoration: none;
}


.site-nav
{
  background-color: $primary;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: flex-end;
}

.site-nav a
{
  color: $white;
}

.hero
{
  // background: url('../../public/img/save-the-date.jpg') no-repeat center center;
  background: url('../../public/img/flowers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 10vh 1rem;
}

.hero h1
{
  font-size: 3rem;
}

.hero h2
{
  font-size: 2rem;
}

.hero h1, .hero h2
{
  font-family: 'Satisfy', cursive;
  color: white;
  text-align: center;
}

.hero-call
{
  color: white;
  display: block;
  border: 1px solid white;
  background: transparent;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem 2rem;

  border-radius: 2px;
  font-size: 1.2rem;

  transition: all 0.3s ease-in-out; 

  &:hover, &:focus, &:active
  {
    color: $white;
    text-decoration: none;
    background: $white;
    color: $dark;
  }
}

.countdown
{
  background: $primary;
  padding: 2rem 1rem;
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

.galery
{
  margin: 3rem auto;
  max-width: $max_width;
  padding: 0 1rem;
}
.galery h2
{
  color: $dark;
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: 'Satisfy', cursive;
  text-align: center;
}


.gal-img
{
  display: flex;
  justify-content: space-between;
}

.gal-left
{
  width: 54%;
}

.gal-right
{
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.gal-right img
{
  display: block;
}
